{% comment %} We're repeating app name inside templates folder to prevent name collision between apps by namespacing {% endcomment %}
{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    {% comment %} use {% url %} template tag to access url by name{% endcomment %}
    {% comment %} we can also provide app_name:path_name defined in urls.py for namespacing {% endcomment %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}
